<head>
    <title>Plans</title>
</head>
<div class="navbar">
    <a href="#" class="title">AirNet</a>
    <a href="#" id="userPlans">Popular plans</a>
    <a href="#" id="userAdOns">Add ons</a>
    <a href="#" id="notification">Notifications<i style="font-size:24px" class="fa">&#xf0f3;</i></a>
    <a href="#" id="logout" class="right">Logout</a>
</div>
<div class="plans-list"> 
    <div class="plans">
        <ul>
            <li>
                <div class="plan-title">
                    <p>New Plan</p>
                    <p>Airtel</p>
                </div>
                <div class="price">
                    <p>$699</p>
                </div>
                <div class="plan-details">
                    <p>Data:1.5GB</p>
                    <p>Unlimited Calls</p>
                    <p>100 SMS/day</p>
                </div>
                <div class="validity">
                    <p>Days:52 days</p>
                </div>
                <div class="brief">
                    <a href="#"><h1>></h1></a>
                </div>
            </li>
            <li>
                <div class="plan-title">
                    <p>New Plan</p>
                    <p>Jio</p>
                </div>
                <div class="price">
                    <p>$299</p>
                </div>
                <div class="plan-details">
                    <p>Data:2GB</p>
                    <p>Unlimited Calls</p>
                    <p>100 SMS/day</p>
                </div>
                <div class="validity">
                    <p>Days:28 days</p>
                </div>
                <div class="brief">
                    <a href="#"><h1>></h1></a>
                </div>
            </li>
        </ul>
    </div>
</div>

