<div class="navbar">
    <a href="#" class="title">AirNet</a>
    <a href="#" id="userPlans">Popular plans</a>
    <a href="#" id="userAdOns">Add ons</a>
    <a href="#" id="notification">Notifications<i style="font-size:24px" class="fa">&#xf0f3;</i></a>
    <a href="#" id="logout" class="right">Logout</a>
</div>
<div class="container">
    <div class="pricing__table">
        <div class="icon type-01">
            <span class="fa fa-paper-plane" aria-hidden="true">
            </span>
        </div>
        <h3 class="heading">Airtel</h3>
        <h1 class="service__price">599<sup class="dollar__sign">$</sup>
        </h1>
        <ul class="features__list">
            <li>
                <i class="fa fa-check" aria-hidden="true">
                </i>
                <p>Data:1.5GB</p>
                    <p>Unlimited Calls</p>
                    <p>100 SMS/day</p>
                    <p>Days:52 days</p>
            </li>
        </ul>
        <button class="order__button">></button>
    </div>
</div>

